<hr>  
<table class="nav-table" style="width:100%">
  <tr>
    <td style="text-align:left"><b>Previous</b></td>
    {{ if .Params.album }}
    <td rowspan="2" style="text-align:center"><a href="{{ .Params.album }}" target=”_blank”><img src="/images/image-gallery.png" title="{{ .Params.title }} Photo Album" alt="{{ .Params.title }} Photo Album" height="50"></a></td>
    {{ end }}
    <td style="text-align:right"><b>Next</b></td>
  </tr>
  <tr>
    <td style="text-align:left">
      {{ with .PrevInSection }}
        <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ else }}
        {{ $lastInSection := index (last 1 .CurrentSection.Pages.ByPublishDate) 0 }}
        <a style="text-decoration: none" href="{{ $lastInSection.RelPermalink }}">{{ $lastInSection.Title }}</a>
      {{ end }}
    </td>
    <td style="text-align:right">
      {{ with .NextInSection }}
        <a style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ else }}
        {{ $firstInSection := index (first 1 .CurrentSection.Pages.ByPublishDate) 0 }}
        <a style="text-decoration: none" href="{{ $firstInSection.RelPermalink }}">{{ $firstInSection.Title }}</a>
      {{ end }}
    </td>
  </tr>
</table>      
<hr>