a img.hover {
    display: none;
}
a img.default {
    display: inherit;
}
a:hover img.hover {
    display: inherit;
}
a:hover img.default {
    display: none;
}

/* general column width: for left & right columns */
.nav-table td {
    width: 50%;
}  
/* icon column */
.nav-table td:nth-child(2) {
    width: 50px; /* should be the width of the icon */
}
